*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{ 
    font-family: myFont;
    src: url("armin-soft-black.ttf"); /* GIT HUB PAGESs */
    /* src: url("armin-soft-black.ttf");    LOCALMENTE */
}
body{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center ;
}

.container{
    display: flex;
    justify-content: center;
    
}
.container2{
    display: flex;
    justify-content: center;
    padding: 20px;
   
    
}

img{
    box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.3);
    min-width: 370px;
    max-width: 370px;
    transition: opacity 0.9s ease;
    
    
}
h1{
    padding: 15px;
    color: white;
    font-family: myFont;
    font-size: 35px;
    
    
}
p{
    color: aliceblue;
    font-family: myFont;
}
.data1{
    display: flex;
    position: absolute;
    text-align: center;
    margin-left: 86px;
    margin-top: 200px;
}
.mes{
    display: flex;
    position: absolute;
    text-align: center;
    margin-left: 95px;
    margin-top: 250px;
}

.letraE{
    font-size: 25px;
    align-items: center;
    display: flex;
}
legend{
    color: aliceblue;
    font-family: myFont;
    padding: 1px;
}
.result{
    display: none;
}
fieldset{
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}
select{
    
    padding: 2px;
    width: 55px;
    font-family: myFont;
    font-size: small;
}
input{
    padding: 2px;
    font-family: myFont;
    font-size: large;
    width: 150px;
}
.buttons{
    margin-top: 10px;
    align-items: center;
    
}
.save{
    margin-top: 12px;
    padding: 6px;
    height: 35px;
    width: 300px;
    background-color: rgb(6, 255, 110);
    border: none;
    border-radius: 50px;
    font-family: myFont;
    color: black;
    
    
}
.save:hover{
    
    background-color: rgb(99, 252, 163);
    cursor: pointer;

    

}
.download{
    background-color: rgb(207, 0, 0);
     padding: 4px 15px;
    border-radius: 50px;
    font-family: myFont;
    text-decoration: none;
    color: white; 
    display: none;
    
    
}
.download:hover{
    
    background-color: rgb(216, 33, 33);
}
.cor{
    width: 25px;
    height: 25px;
    font-size: larger;
    border: none;
    border-radius: 4px;
    
}
.cor:hover{
    outline: solid rgb(255, 255, 255);
}

    
#blue1{
    background-color: #00ccff;
    
    
}
#blue2{
    background-color: #00ffba;
}
#orange1{
    background-color: #ff9000;
}
#purple1{
    background-color: #9000ff;
}
#purple2{
    background-color: #6600ff;
}
#purple3{
    background-color: #7b68ee;
}
#green1{
    background-color: #00ff72;
}
#yellow1{
    background-color: #ffc000;
}
#blue3{
    background-color: #008aff;
}
#red1{
    background-color: #a30017;
}
#red2{
    background-color: #ff0000;
}
#pink1{
    background-color: #cc00ff;
}
#pink2{
    background-color: #db7093;
}
#olive1{
    background-color: #afaf00;
}
#brow1{
    background-color: #d2691e;
}
#green2{
    background-color: #00a113;
}
#grey1{
    background-color: #2f4f4f;
}
#grey2{
    background-color: #a9a9a9;
}
#grey3{
    background-color: #363636;
}
#blue4{
    background-color: #0000cd;
}
#blue5{
    background-color: #00ffff;
}
#pink3{
    background-color: #dc143c;
}